
body  {
color: aliceblue;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/524/863/782/internet-deep-web-minimalism-dark-background-wallpaper-preview.jpg");
  text-align: center;
  font-size: 16px;
  border: 10px solid red  ;
  
  ;
}

head {
    border: 10px solid rgb(165, 16, 16);
    background-color: blue;
}
p{
    background-color: peru;
}
.animation{
	width: 100px;
	height: 50px;
	background-color: red;
	animation-name: animation;
	animation-duration: 5s;
  }

@keyframes animation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.transition {
  width: 100px;
  height: 50px;
  background: #92B901;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  float: left;
  margin: 5px;
  transition-property: width,height,transform,background,font-size,opacity; 
  transition-duration: 1s,1s,1s,1s,1s,1s;
  border-radius: 5px;
  opacity: 0.4;
  box-shadow: 10px 10px 5px #888;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;

}
.transition:hover
{
	opacity:1;
	background:#1ec7e6;
	width:200px;
	height:100px;
	font-size:30px;
}
.transform{
  width: 200px;
  height: 100px;
  padding: 10px;
  background: orange;
  margin-left: 40px;
}
.transform:hover{
  transform: skew(30deg) scale(1.5,1.5) rotate(30deg) translate(20px, 30px);
}

.multicolumn {
	column-count: 3;
	column-gap: 10px;
	column-rule-style: dashed;
	column-rule-width: 6px;
}